@import '../../Theme.scss';

.container {
  font-family: 'ARS', sans-serif;
  position: absolute;
  left: 5%;
  top: 10%;
}

.introContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 4rem;

  .letter {
    display: inline-block;
    font-weight: bold;
    line-height: 5rem;
    color: $secondary;
    opacity: 0%;
    animation: letterAnim 1500ms forwards;
    scale: 0;
    rotate: 45deg;
    transform-origin: bottom left;
  }

  .intro {
    display: block;
    color: white;
  }
}

.dot {
  display: inline-block;
  color: $secondary;
  animation: dotAnim 1500ms forwards;
  translate: 40rem 0;
  transform-origin: bottom left;
  margin-left: 2px;
}

.designationContainer {
  font-size: 4.35rem;
  color: white;
  opacity: 0;
  translate: 0 10px;
  animation: desAnim 1000ms forwards;
}

@keyframes desAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes dotAnim {
  25% {
    border-radius: 0;
  }
  50% {
    translate: -1px 0;
    rotate: -20deg;
  }
  100% {
    translate: 0;
  }
}

@keyframes letterAnim {
  0% {
    opacity: 0%;
  }

  50% {
    scale: 1.1;
    rotate: -10deg;
    color: $tertiary;
  }

  100% {
    opacity: 100%;
    rotate: 0deg;
    scale: 1;
  }
}
