.line {
  height: 70%;
  margin: auto;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 3px;
  background-color: white;
}

.pin {
  position: absolute;
  // height: 20px;
  // width: 20px;
  // background-color: #f87060;
  // border-radius: 50%;
  top: 0;
  // left: -17px;
  background-color: #122747;
  font-size: 0;
  padding: 5px 0;
}
