.body {
    /* border: solid 2px #c6de41; */
    /* border-radius: 5px; */
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hovered {
    transform: scale(1.05);
}

.not-hovered {
    filter: blur(1.5px);
    transform: scale(0.9);
}
