.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .head {
    margin-top: 2%;
    margin-left: 5%;
    color: white;
    font-size: 3rem;
    font-family: 'ARS', sans-serif;

    &::first-letter {
      color: #f87060;
    }
  }
}
