@font-face {
  font-family: HikouOutline;
  src: url('./assets/fonts/Hikou Outline.otf');
}
@font-face {
  font-family: Rethink;
  src: url('./assets/fonts/Rethinker.ttf');
}
@font-face {
  font-family: Ami;
  src: url('./assets/fonts/Ami.ttf');
}

@import './Theme.scss';

body {
  background-color: #122747;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
