@font-face {
  font-family: ARS;
  src: url('./assets/fonts/ARS.ttf');
}

@import './Theme.scss';

body {
  background-color: #122747;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
